<% content_for :javascript_includes do %>
  <%= javascript_include_tag "/javascripts/session.js" %>
<% end %>

<% form_tag session_path do -%>
	<fieldset class="common">
		<legend class="hidden"><span class="hidden">Login Form</span></legend>
		<div class="field text">
			<label for="login">Username</label>
			<input id="login" name="login" maxlength="40" value="<%= @login %>" tabindex="1" />
		</div>
		<div class="field text">
			<label for="password">Password</label>
			<input id="password" name="password" type="password" maxlength="40" tabindex="2" />
		</div>
		<div class="clear">
			<button class="btn_login" type="submit">Login</button>
			<% if flash[:notice] %>
			<p class="msg_system"><%= flash[:notice] %></p>
			<% end %>
		</div>
	</fieldset>
<% end -%>
