/*----------------------------------------------------------------------------------------
base.css
----------------------------------------------------------------------------------------*/
body {
	background: #000 url(/images/bg/bg.jpg) no-repeat center top;
	font-family: georgia, arial, verdana, sans-serif;
}

#container {
	width: 960px;
	margin: 0 auto;
}
	#container #wrapper { padding: 0 90px; }
#logo {
	display: block;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -1000em;
	position: relative;
	top: 18px;
}
#logo_ai {
	display: block;
	text-indent: -1000em;
	background: url(/images/logo/logo_ai.png) no-repeat left top;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo/logo_ai.png', sizingMethod='image');
	_background: none;
	width: 17px;
	height: 14px;
}
li { position: relative; }

/* typography
----------------------------------------------------------------------------------------*/
a {
	text-decoration: none;
	color: #A60000;
}
#container #wrapper a:hover { text-decoration: underline; }

/* #header
----------------------------------------------------------------------------------------*/
#header { padding: 10px 20px 0 5px; }

/* #content
----------------------------------------------------------------------------------------*/
#content { margin: 0 0 10px 0; }
	#content #content_main { padding: 15px 40px 35px 40px; }
	
/* #footer
----------------------------------------------------------------------------------------*/
#footer { 
	font-family: arial, verdana, sans-serif;
	padding: 0 20px;
}
	#footer #footer_content {
		float: right;
	}
	#footer a { 
		color: #8b0000; 
		font-size: 1.2em;
		line-height: 1.1;
		float: left;
		margin: 0 0 0 18px;
	}

/* fieldset.common
----------------------------------------------------------------------------------------*/
fieldset.common {}	
	fieldset.common label {
		display: block;
		line-height: 1;
	}
	fieldset.common .field.text input,
	fieldset.common .field.text textarea,
	fieldset.common .field select {
		display: block;
		color: #585757;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		border-width: 1px;
		border-style: solid;
		font-family: georgia, arial, verdana, sans-serif;
	}
