/*----------------------------------------------------------------------------------------
interior.css
----------------------------------------------------------------------------------------*/

/* typography
----------------------------------------------------------------------------------------*/
h1 {
	font-size: 3.4em;
	color: #585757;
	line-height: 1;
	margin: 0 0 25px 0;
	border-bottom: 2px solid #585757;
	padding-bottom: 12px;
	max-width: 565px;
}
	h1 span {
		color: #919090;
		font-size: 0.9em;
	}
	h1 a {
		font-size: 0.4em;
		margin: 10px 0 0 2px;
	}
h2 {
	font-size: 2.0em;
	line-height: 1;
	color: #585757;
	margin: 0 0 8px 0;
}
p {
	font-size: 1.3em;
	color: #585757;
	line-height: 1.6;
}
	p.notice {
		font-size: 1.5em;
		margin-bottom: 15px;
		color: #A60000;
	}

/* #logo
----------------------------------------------------------------------------------------*/
#logo {
	background-image: url(/images/logo/logo.png);
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/logo/logo.png', sizingMethod='image');
	_background: none;
	width: 267px;
	height: 51px;
	float: left;
}

/* #nav_utility
----------------------------------------------------------------------------------------*/
#nav_utility { float: right; }
	#nav_utility ul { float: right; }
		#nav_utility ul li { 
			float: left;
			color: #fff;
			font-family: arial, verdana, sans-serif;
			font-size: 1.2em;
			border-right: 1px solid #fff;
			line-height: 1;
			padding: 0 7px 0 0;
			margin: 0 7px 0 0;
		}
		#nav_utility ul li.last {
			border: 0;
			padding: 0;
			margin: 0;
		}	
			#nav_utility ul li a {
				color: #fff;
			}
			#nav_utility ul li em {
				font-style: normal;
				font-weight: bold;
			}
			
/* #nav_main
----------------------------------------------------------------------------------------*/
#nav_main { 
	position: relative; 
	margin: 0 0 -17px 0; 
}
	#nav_main ul { float: right; }
			#nav_main ul li {
				float: left;
				font-size: 1.9em;
				color: #fff;
				line-height: 2;
				height: 57px;
				margin: 0 0 0 7px;
			}
				#nav_main ul li a {
					display: block;
					float: left;
					color: #fff;
					height: 57px;
					background: url(/images/bg/bg_tab_left.gif) no-repeat left bottom;
					padding: 0 0 0 28px;
				}
				#container #nav_main ul li a:hover {
					background-position: left center;
					text-decoration: none;
				}
					#nav_main ul li a span {
						display: block;
						float: left;
						color: #fff;
						height: 57px;
						background: url(/images/bg/bg_tab_right.gif) no-repeat right bottom;
						padding: 0 28px 0 0;
					}
					#container #nav_main ul li a:hover span { background-position: right center; }
				#nav_main ul li.active a { 
					background-position: left top; 
					color: #850000;
				}
					#container #nav_main ul li.active a:hover { background-position: left top; }
					#nav_main ul li.active a span { 
						background-position: right top; 
						color: #850000; 
					}
						#container #nav_main ul li.active a:hover span { background-position: right top; }
					
/* #content
----------------------------------------------------------------------------------------*/
#content {
	background: url(/images/bg/bg_canvas_head.png) no-repeat left top;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/bg_canvas_head.png', sizingMethod='crop');
	_background: none;
	padding: 17px 0 0 0;
	zoom: 1;
	position: relative;
	z-index: 2;
}
	#content #content_main {
		background: #fff url(/images/bg/bg_canvas_content.png) no-repeat left bottom;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/bg_canvas_content.png', sizingMethod='scale');
		_background: none;
		zoom: 1;
	}
	#content #content_body {
		float: left;
		width: 440px;
		margin: 0 50px 0 0;
		position: relative;
	}
	#content #content_bottom {
		background: url(/images/bg/bg_canvas_bottom.png) no-repeat left bottom;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/bg_canvas_bottom.png', sizingMethod='image');
		_background: none;
		height: 15px;
	}
	#content #sidebar {
		float: left;
		width: 196px;
		position: relative;
	}
	
/* .module
----------------------------------------------------------------------------------------*/
.module { margin: 0 0 15px 0; }
.module_box {
	background: url(/images/bg/bg_module_head.gif) no-repeat left top;
	width: 197px;
	padding: 19px 0 0 0;
}
	.module_box .module_content {
		background: url(/images/bg/bg_module_content.gif) no-repeat left bottom;
		padding: 0 20px 20px 20px;
	}

/* ul/ol.listing_common
----------------------------------------------------------------------------------------*/
.listing_common {}
	.listing_common li {
		font-size: 1.3em;
		border-bottom: 1px solid #e0e0e0;
		padding: 0 0 11px 0;
		margin: 0 0 11px 0;
		line-height: 1;
	}
	.listing_common li.last { 
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
/* icons
----------------------------------------------------------------------------------------*/
.icon {
	display: block;
	padding: 0 0 0 21px;
	height: 16px;
	background-position: left top;
	background-repeat: no-repeat;
}
.icon.add { background-image: url(/images/icon/icon_add.gif); }
.icon.reset { background-image: url(/images/icon/icon_reset.gif); }
.icon.revoke { background-image: url(/images/icon/icon_revoke.gif); }
.icon.revoke { background-image: url(/images/icon/icon_revoke.gif); }
.icon.remove { background-image: url(/images/icon/icon_remove.gif); }
.icon.grant { background-image: url(/images/icon/icon_grant.gif); }

/* table.common
----------------------------------------------------------------------------------------*/
table.common { width: 100%;}
	table.common col.col1 { width: 45%; }
	table.common col.col2 { width: 45%; }
	table.common col.col3 { width: 10%; }
	table.common th {
		color: #000;
		font-size: 1.3em;
		line-height: 1;
		padding: 0 0 10px 0;
		border-bottom: 1px solid #666;
	}
	table.common td {
		color: #585757;
		font-size: 1.3em;
		line-height: 1;
		padding: 10px 0;
		border-bottom: 1px solid #e0e0e0;
	}
	table.common .admin td.first {
		background: url(/images/icon/icon_admin.gif) no-repeat left 8px;
		padding-left: 26px;
	}
	
/* fieldset.common
----------------------------------------------------------------------------------------*/
fieldset.common {}
	fieldset.common .field {
		margin: 0 0 18px 0;
		float: left;
	}
			fieldset.common .field label {
				color: #333333;
				font-size: 1.9em;
				margin: 0 0 10px 0;
				float: left;
				width: 165px;
				text-align: right;
				padding-right: 10px;
				line-height: 1.4;
				position: relative;
			}
			fieldset.common .field label span.fakeLabel {
				position: absolute;
				left: 180px;
				width: 100px;
				color: #999;
			}
				fieldset.common .field label em {
					font-size: 0.7em;
				}
			fieldset.common .field.text input,
			fieldset.common .field.text textarea {
				font-size: 1.6em;
				padding: 4px 10px;
				border-color: #d7d5d5;
				background-color: #F9F9F9;
				width: 370px;
				letter-spacing: 1px;
				float: left;
			}
			fieldset.common .field.text textarea { height: 100px; }
			fieldset.common .field select { 
				width: 395px; 
				font-size: 1.6em;
				float: left;
				margin-top: 5px;
			}
#form_permissions { margin: 0 0 25px 0; }
	
	/* for forms with widths constrained by tabs and right nav
	------------------------------------------------------------------------------------*/
	.edit_group fieldset.common .field label,
	.tab_content fieldset.common .field label { width: 140px; }
	.edit_group fieldset.common .field.text input,
	.tab_content fieldset.common .field.text input,
	.edit_group fieldset.common .field.text textarea,
	.tab_content fieldset.common .field.text textarea { width: 268px; }
	.edit_group fieldset.common .field select,
	.tab_content fieldset.common .field select { width: 290px; }
	
/* buttons
----------------------------------------------------------------------------------------*/
.buttons {
	margin-top: 15px;
	padding-left: 175px;
}
	.edit_group .buttons,
	.tab_content .buttons { padding-left: 150px; }
.btn_update {
	display: block;
	text-indent: -1000em;
	height: 42px;
	width: 105px;
	background: url(/images/btn/btn_update.gif) no-repeat left bottom;
	border: 0;
	float: left;
	margin: 0 13px 0 0;
}
.btn_update:hover { background-position: left top; }

.btn_create {
	display: block;
	text-indent: -1000em;
	height: 42px;
	width: 105px;
	background: url(/images/btn/btn_create.gif) no-repeat left bottom;
	border: 0;
	float: left;
	margin: 0 13px 0 0;
}
.btn_create:hover { background-position: left top; }

.btn_cancel {
	display: block;
	text-indent: -1000em;
	height: 42px;
	width: 105px;
	background: url(/images/btn/btn_cancel.gif) no-repeat left bottom;
	border: 0;
	float: left;
}
.btn_cancel:hover { background-position: left top; }

.btn_add_perms {
	display: block;
	text-indent: -1000em;
	height: 42px;
	width: 193px;
	background: url(/images/btn/btn_add_permission.gif) no-repeat left bottom;
	border: 0;
	margin-right: 4px;
}
.btn_add_perms:hover { background-position: left top; }

/* messaging
----------------------------------------------------------------------------------------*/
.message { margin: 0 0 17px 0; }
	.message p { padding-left: 175px; }
	.tab_content .message p { padding-left: 152px; }
		.message p em { 
			color: #333; 
			font-weight: bold;
		}
	.tab_content #permission_list {
		padding-left: 152px;
	}
	
/* tabs
----------------------------------------------------------------------------------------*/
.toggle { margin: 0 0 -1px 0; }
	.toggle li {
		float: left;
		font-size: 2.6em;
		line-height: 1.8;
		color: #585757;
		margin: 0 10px 0 0;
		position: relative;
	}
	.toggle li.active { z-index: 2; }
		.toggle li a {
			float: left;
			display: block;
			color: #800000;
			background: url(/images/bg/bg_tab_toggle_left.gif) no-repeat left bottom;
			height: 47px;
			padding: 0 0 0 20px;
		}
		#container #content .toggle li a:hover { text-decoration: none; }
		.toggle li.active a {
			background-position: left top;
			color: #585757;
		}
			.toggle li a span {
				float: left;
				display: block;
				color: #800000;
				background: url(/images/bg/bg_tab_toggle_right.gif) no-repeat right bottom;
				height: 47px;
				padding: 0 20px 0 0;
			}
			.toggle li.active a span {
				background-position: right top;
				color: #585757;
			}
.tab_content {
	border-top: 1px solid #d7d5d5;
	padding: 20px 0 0 0;
	display: none;
	position: relative;
	z-index: 1;
}	
.tab_content.active { display: block; }

/* ol/ul.listing_toggle
----------------------------------------------------------------------------------------*/
.listing_toggle {}
	.listing_toggle li {
		font-size: 20px;
		border-bottom: 1px solid #e0e0e0;
		line-height: 1;
		padding: 0 0 14px 0;
		margin: 0 0 14px 0;
	}
		.listing_toggle li.header {
		}
		.listing_toggle li a.littlebox {
			float: left;
			margin: 0 5px 0 0;
			line-height: 19px;
		}
		.listing_toggle li em {
			float: left;
			font-size: 12px;
			color: #a4a3a3;
			margin: 4px 5px 0 0;
		}
			.listing_toggle li em.edit_group {
				margin: 6px 0 0 0;
			}
			.listing_toggle li em a {
			}
		.listing_toggle li ol { margin: 11px 0 0 0; width: 100%; }
			.listing_toggle li ol.slideable li {
				margin: 0 0 10px 0;
				background: url(/images/icon/icon_bullet.gif) no-repeat 25px 7px;
				padding: 0 0 0 40px;
				float: left;
				width: 400px;
			}
			.listing_toggle li li { 
				font-size: 17px; 
				border-bottom: 0;
				padding: 0 0 0 26px;
				margin: 0 0 4px 0;
			}
				.listing_toggle li ol.slideable li.header { 
					font-size: 20px; 
					background: none;
					padding: 0 0 0 25px;
				}
		.listing_toggle li a.edit { 
			position: relative; 
			top: 2px;
		}
		.listing_toggle li a.slideHandle {
			float: left;
			color: #333;
			margin: 0 5px 0 0;
			line-height: 24px;
		}
		.listing_toggle li a.toggle {
			float: left;
			background: url(/images/icon/icon_toggle.gif) no-repeat left -75px;
			margin: 0 5px 5px 0;
			padding: 0 0 0 25px;
			line-height: 24px;
		}
		#container #content .listing_toggle li a.toggle:hover { 
			background-position: left -34px; 
			text-decoration: none;
		}
		.listing_toggle li a.toggle.active,
		#container #content .listing_toggle li a.toggle.active { background-position: left 4px; }
		
/* .overlay
----------------------------------------------------------------------------------------*/
.overlay {
	position: absolute;
	top: 0;
	z-index: 100;
	width: 409px;
	background: url(/images/bg/bg_overlay_head.png) no-repeat left top;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/bg_overlay_head.png', sizingMethod='crop');
	_background: none;
	padding: 23px 0 0 0;
}
	.overlay .overlay_content {
		background: url(/images/bg/bg_overlay_content.png) no-repeat left bottom;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg/bg_overlay_content.png', sizingMethod='scale');
		_background: none;
		zoom: 1;
		padding: 0 30px 28px 30px
	}
	.overlay h2 { 
		margin: 0 0 15px 0; 
		font-size: 2.2em;
		position: relative;
		border-bottom: 1px solid #585757;
		padding-bottom: 5px;
	}
		.overlay h2 span {
			font-size: 0.9em;
			color: #8A8A8A;
		}
		.overlay h2 em {
			font-size: 0.7em;
			color: #a4a3a3;
			margin: 0 4px;
		}
			.overlay h2 em a {
				font-size: 1em;
			}
		.overlay h2 a { font-size: .7em; }
	.overlay p {
		font-size: 1.2em;
		color: #2b2929;
		position: relative;
	}
	.overlay dl {
		margin: 0 0 15px 0;
		position: relative;
	}
		.overlay dl dt {
			color: #000;
			font-size: 1.6em;	
			float: left;
			width: 100px;
			padding: 0 0 8px 0;
		}
		.overlay dl dd {
			color: #000;
			font-size: 1.6em;	
			float: left;
			width: 230px;
			padding: 0 0 8px 0;
		}
			.overlay dl dd#password_container a { width: auto; }
#overlay  {
      background: #000;
      opacity: 0.3;
      filter: alpha(opacity = 30); /* So that opacity works in IE */
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      cursor: hand;
}

/* #errorExplanation
----------------------------------------------------------------------------------------*/
#errorExplanation {
	border: 1px solid #666666;
	background-color: #ffffe3;
	padding: 10px;
}
	#errorExplanation h2 {
		font-size: 1.7em;
		color: #B40425;
	}
	#errorExplanation p {
		margin-bottom: 10px;
	}
	#errorExplanation ul {
		list-style: disc;
	}
		#errorExplanation ul li {
			margin-left: 20px;
			color: #585757;
			font-size: 1.2em;
		}
