
  <a href="javascript:void(0);" class="slideHandle <% if group.has_children_or_entries? %>toggle<% end %> <% if group_open?(group) %>active<% end %>" id="handle_<%= group.id %>"><%= group.title %></a>  
	<!--
	<em>10 Projects</em>
	-->
	
	<% if group.allows_admin_access_for?(current_user) %>
	  <a href="<%= edit_group_url(group) %>" class="edit">edit</a>
  <% elsif group.allows_write_access_for?(current_user) %>
	  <a href="<%= new_entry_url(:entry => {:group_id => group.id}) %>" class="edit">add entry</a>
  <% end %>
